## -*- sh -*-
#compiler-settings
directiveStartToken = @
#end compiler-settings
@from pyre.schedulers import BatchScriptTemplate
@extends BatchScriptTemplate
@implements respond
@set $self.substitutions = {'job.id': "$SLURM_JOB_ID"}
#!%s  ${scheduler.shell}
#SBATCH -J ${job.task}
@if $job.queue
#SBATCH -p ${job.queue}
@end if
@if max($job.walltime)
#SBATCH -t @echo ("%d:%02d:%02d" % $job.walltime[0:3])
@end if
@if $self.stdout
#$ -o ${self.stdout}
@end if
@if $self.stderr
#$ -e ${self.stderr}
@end if
@for option in $scheduler.qsubOptions
#$ ${option}
@end for
#SBATCH -N @echo '%d' % ($scheduler.nodes)
#SBATCH -n @echo '%d' % ($scheduler.cores)

@if $job.nodes % $scheduler.tpn
export MY_NSLOTS=$job.nodes
@end if

@set $self.substitutions = {'job.id': "${SLURM_JOB_ID}"}

${job.executable} @echo ' '.join($job.arguments)

@if $job.comments
# ~~~~ comments ~~~~
@for line in $job.comments
# ${line}
@end for
@end if

# ~~~~ submit command ~~~~
# ${scheduler.command} < [script]
